@{
    ViewBag.Title = "Sorted menu";
    Layout = "_Layout";
}

<style>
    .card-img-top {
        object-fit: cover;
        height: 200px; 
    }
</style>

<div class="row">
    <div class="col-md-3">
        <div class="card h-100">
            <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Appetizers"><img src="~/img/categoryImages/Appetizers.jpg" class="card-img-top card-image" /></a>
            <div class="card-body text-center">
                <h5 class="card-title">Appetizers</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Appetizers" class="btn btn-success">View category</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card h-100">
            <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="MainCourses"><img src="~/img/categoryImages/Main Courses.jpg" class="card-img-top  card-image" /></a>
            <div class="card-body text-center">
                <h5 class="card-title">MainCourses</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="MainCourses" class="btn btn-success">View category</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card h-100">
            <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Pasta"><img src="~/img/categoryImages/Pasta.jpg" class="card-img-top  card-image" /></a>
            <div class="card-body text-center">
                <h5 class="card-title">Pasta</h5>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since dhe 1500s.
                </p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Pasta" class="btn btn-success">View Category</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card h-100">
            <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Pizza"><img src="~/img/categoryImages/Pizza.jpg" class="card-img-top card-image" /></a>
            <div class="card-body text-center">
                <h5 class="card-title">Pizza</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Pizza" class="btn btn-success">View category</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card h-100">
            <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Salads"><img src="~/img/categoryImages/Salads.jpg" class="card-img-top  card-image" /></a>
            <div class="card-body text-center">
                <h5 class="card-title">Salads</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Salads" class="btn btn-success">View Category</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card h-100">
            <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Soups"><img src="~/img/categoryImages/Soups.jpg" class="card-img-top  card-image " /></a>
            <div class="card-body text-center">
                <h5 class="card-title">Soups</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Soups" class="btn btn-success">View category</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card h-100">
            <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Desserts"><img src="~/img/categoryImages/Desserts.jpg" class="card-img-top  card-image" /></a>
            <div class="card-body text-center">
                <h5 class="card-title">Desserts</h5>
                <p class="card-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Desserts" class="btn btn-success">View category</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card h-100">
            <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Beverages"><img src="~/img/categoryImages/Beverages.jpg" class="card-img-top card-image" /></a>
            <div class="card-body text-center">
                <h5 class="card-title">Beverages</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Menu" asp-action="Beverages" asp-route-category="Beverages" class="btn btn-success">View category</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card h-100">
            <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="AlcoholicBeverages"><img src="~/img/categoryImages/Alcoholic Beverages.jpg" class="card-img-top  card-image" /></a>
            <div class="card-body text-center">
                <h5 class="card-title">Alcoholic Beverages</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="AlcoholicBeverages" class="btn btn-success">View category</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card h-100">
            <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Specials"><img src="~/img/categoryImages/Specials.jpg" class="card-img-top  card-image" /></a>
            <div class="card-body text-center">
                <h5 class="card-title">Specials</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="Specials" class="btn btn-success">View category</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card h-100">
            <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="KidsMenu"><img src="~/img/categoryImages/Kids Menu.jpg" class="card-img-top  card-image" /></a>
            <div class="card-body text-center">
                <h5 class="card-title">KidsMenu</h5>
                <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Menu" asp-action="GetCategory" asp-route-category="KidsMenu" class="btn btn-success">View category</a>
            </div>
        </div>
    </div>
</div>