@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="display-4">Welcome to Our Restaurant</h1>
                <p class="lead">Indulge in the flavors of our exquisite dishes.</p>
                <a class="btn btn-primary" asp-controller="Menu" asp-action="GetDishes">
                    View Menu
                </a>
                <a asp-controller="Menu" asp-action="SortedMenu" class="btn btn-danger ml-2">Sorted Menu</a>
                <a asp-controller="Menu" asp-action="GetOneDish" asp-route-id="1" class="btn btn-danger ml-2">One Dish</a>
                <a asp-controller="Menu" asp-action="Save" class="btn btn-warning ml-2">Add Dish</a>
            </div>

            <hr class="my-4">

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img src="~/img/icons/special.jpg" class="card-img-top" alt="Special Offer 1">
                        <div class="card-body">
                            <h5 class="card-title">Special Offers</h5>
                            <p class="card-text">Enjoy our special dish with a discount for a limited time.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="~/img/icons/event.webp" class="card-img-top" alt="Upcoming Event 1">
                        <div class="card-body">
                            <h5 class="card-title">Upcoming Events</h5>
                            <p class="card-text">Join us for a live music performance this weekend.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="contact-info">
                <h3>Contact Information</h3>
                <address>
                    <strong>Restaurant Name</strong><br>
                    123 Main Street, City<br>
                    Country<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
                <address>
                    <strong>Email</strong><br>
                    <a href="mailto:info@restaurant.com">info@restaurant.com</a>
                </address>
            </div>
        </div>
    </div>
</div>
